body{
    background-color: #FF9900;
    font-family: comic sans MS;
    overflow: hidden;
    height: 100%;
    width: 100%;
    }

h1{
     color: #097054;
     font-size: 3em;
     text-shadow: 2px 2px gray;
}
p{
    margin: 0;
    padding: 0;
}
h1, h2, h3{
   
    text-align: center;
}
input{
    background-color: #097054;
    color: white;
    font: bold 11px comic sans MS;
    cursor: pointer;
    border-radius: 4px;
}

#dragme{
position:absolute;
display:none;
height:100px;
width:100px;
background-color:#eee;
border:1px solid black;
border-radius:15px;
text-align:center;
}

.thumbImg{
    border-radius: 10px;
    overflow: hidden;
    float: left;
    background: white;
    margin: 10px;
}
.thumbImg img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.myWindow{
    width: 300px;
    height: 300px;
    background-color: beige;
    position: relative;
    border: 3px inset;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
}
.topBar{
    font-size: 0.5em;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    height: 25px;
}
.content{
    width: 100%;
    position: absolute;
    overflow-y: scroll;
    top:  25px;
    bottom: 25px;
}
.bottomBar{
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 25px;
}
#dashboard{
    position: absolute;
    bottom: 0;
    height: 70px;
    background-color: #097054;
    width: 100%;
    left: 0;
    border: 2px inset;
}
.dashboardIMG{
    width: 64px;
    height: 64px;
    border-radius: 5px;
    margin: 5px;
}
.close{
    float: right;
    border-radius: 4px;
}
.topText{
    float: left;
    top: 0;
}
#pageContent{
    height: 100%;
    width: 100%;
}
.topIMG{
    height: 15px;
    width: 15px;
    float: left;
    margin-right: 5px;
}