body{
    background-color: beige;
}
table{
    border: 2px solid black;
    padding: 20px;
}
tr{
    padding: 20px;
    background-color: white;
}
td{
    padding: 20px;
    background-color: white;
}
.hidden img{
    display: none;
}
a div{
    background-image: url("pics/0.png");
    width: 20px;
    height: 20px;
}